<table class="table table-hover">
    <thead>
        <tr>
            <th>Email</th>
            <th>Register</th>
            <th>isAdmin?</th>
            <th colspan=4 style="text-align: center;">Ações</th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
            <tr>
                <td><%= user.email %></td>
                <td><%= user.created_at %></td>
                <td><%= user.admin %></td>
                <td style="text-align: center;"><%= link_to '', user, :class => 'glyphicon glyphicon-search', :title => 'View' %></td>
                <td style="text-align: center;">
                    <% if !user.admin? %>
                    <%= link_to '', user, :class => 'glyphicon glyphicon-trash', :method => :delete, :data => { :confirm => 'Are you sure?' }, :title => 'Apagar' %>
                <% end %>
                </td>

            </tr>
        <% end %>
    </tbody>
</table>