<div class="jumbotron">
  <h2>Bem vindo ao EasyFood !</h2>
  <p>A maneira mais fácil de reservar sua diversão !</p>
</div>
<div class="page-header">
  <h2>Planos</h2>
</div>
<div class="row">
    <% @plans.each do |plan| %>
        <div class="col-xs-4">
            <div class="panel panel-primary">
                <% if plan.recommended? %>
                    <div class="cnrflash">
                        <div class="cnrflash-inner">
                            <span class="cnrflash-label">MAIS
                                <br>
                                POPULAR</span>
                        </div>
                    </div>
                <% end %>
                <div class="panel-heading">
                    <h2 class="panel-title"><%= plan.description %></h2>
                </div>
                <div class="panel-body">
                    <div class="the-price">
                        <h1><%= number_to_currency(plan.price, unit: 'R$ ') %><span class="subscript">/<%= plan.periodicity %></span></h1>
                        <small>1 mês FREE trial</small>
                    </div>
                    <table class="table">
                        <tr>
                            <td>
                                <%= plan.max_restaurants %> Restaurante(s)
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                <%= plan.max_employees %> Funcionário(s)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <%= plan.max_items %> Items
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="panel-footer">
                    <a href="#" class="btn btn-success" role="button">Sign Up</a></div>
            </div>
        </div>
    <% end %>

</div>
