<% if not user_signed_in? %>
	<img class="img-responsive img-circle img-thumbnail avatar" src="<%= image_path('logo.jpg') %>" />
<% else %>
	<img class="img-responsive img-circle img-thumbnail avatar" src="<%= current_user.avatar.url(:thumb) %>" />
<% end %>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="padding-left:60px;">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="container">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#"><span style="padding-right:10px;" class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>EasyFood</a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			<% if user_signed_in? %>
				<li><%= link_to(t('.dashboard'), dashboard_index_path)%> </li>
				<li><%= link_to(t('.restaurants'), restaurants_path)%> </li>
			  	<li><%= link_to(t('.items'), items_path)%> </li>
			  	<li><%= link_to(t('.categories'), categories_path)%> </li>
			  	<% if current_user.try(:admin?) %>
				  <li><%= link_to(t('.users'), users_path)%> </li>
				  <li><%= link_to(t('.plans'), plans_path)%> </li>
				<% end %>
			<% else %>
				<li><%= link_to(t('.plans'), view_plans_path)%> </li>
		  	<% end %>
		</ul>

		<ul class="nav navbar-nav navbar-right">
			<% if user_signed_in? %>
				<li>
					<%= link_to current_user.name, edit_user_registration_path %>
				</li>
			  	<li>
			  		<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
			  	</li>
			<% else %>
				<li>
			  		<%= link_to('Cadastrar', new_user_registration_path)  %>
			  	</li>
			  	<li>
			  		<%= link_to('Login', new_user_session_path)  %>
			  	</li>
			<% end %>
		</ul>
	</div><!-- /.navbar-collapse -->
	</div>
</nav>